// Nav bar

html {
  font-size: max(2vh, 10px);
}

header {
  background-color: #808;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;

    li {
      display: inline;
      margin: 0 1rem;
      color: white;

      &.title {
        font-size: 2rem;
      }
    }
  }
}

// Main

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .displays {
    background-color: #6ff;

    td {
      width: 6rem;
      padding: 0 2rem;

      > * {
        z-index: -1;
      }
    }
  }

  .board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1rem auto;
    padding: 1rem;
    background-color: white;
  }

  .square {
    width: 5rem;
    height: 5rem;
    border: 2px solid black;
    font-size: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img.robot {
    width: 3rem;
  }

  img.star {
    width: 3rem;
  }

  input[type="image"] {
    border: 2px solid black;
    height: 4rem;
    margin: 1rem;
    background-color: blue;

    &.forward {
      background-color: #0f0;
    }
  }
}
